.col-md-6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.logout {
  margin-left: 15px;
  margin-top: 30px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tableau {
  position: absolute; /* postulat de départ */
  margin-left: 50%;
  margin-top: 62%;
  margin-bottom: 50px;
  transform: translate(-50%, -50%);
}

.app {
  font-family: sans-serif;
  text-align: left;
}

body {
  background-image: url("https://wallpaperplay.com/walls/full/9/8/7/15265.jpg");
  background-color: #cccccc;
}

.form-group {
  color: white
}
